<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/_head.html' %}
    {% block estilo %}{% endblock estilo %}

</head>
<body>
    <!-- Barra de navegação -->
    {% include 'partials/_header.html' %}
    <!-- Container principal -->
    {% include 'partials/_messages.html' %}

    <main class="content">
        {% block content %}{% endblock content %}
        {% include 'partials/_pagination.html' %}
    </main>

    <!-- Footer -->
    {% include 'partials/_footer.html' %}
    

    <!-- Bootstrap JS (ou qualquer framework que você use) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
